$color-l: #fff;
$color-s: #ccc;
$color-m: #999;
$color-n: #444;
$color-d: #000;

$font-h: Arial, sans-serif;
$font-p: 'Times New Roman';

$font-sh: 32px;
$font-sp: 14px;

$py-n: 2rem 0;
$px-n: 0 1.5rem;

$brp-xs: 320px;
$brp-sm: 480px;
$brp-md: 768px;
$brp-lg: 1200px;


* {
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
}
header {
    position: fixed;
    z-index: 6;
    padding: 1.5rem 0;
    margin: 0 auto;
    width: 100%;
    .wrap-h {
        margin: 0 auto;
        //border: 1px solid #888;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        max-width: 1200px;
        .main-btn {
            text-align: center;
            p {
                margin: 0.5rem 0;
                padding: 0.2rem 0;
                border-radius: 3px;
                width: 100%;
                transition: .3s;
                text-transform: uppercase;
                a {
                    text-decoration: none;
                    color: $color-l;
                    font-size: $font-sp;   
                }
                &:hover {
                    background-color: $color-m;
                }
            }
        }
        .brand {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                color: $color-l;
                h1 {
                    text-align: center;
                    font-family: $font-h;
                    font-size: $font-sh;
                }
            }
        }
        .contact {
            padding-right: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p a {
                text-decoration: none;
                color: $color-l;
                font-size: $font-sp;
            }
            .nav-btn {
                cursor: pointer;
                .fa-bars {
                    font-size: 2.3rem;
                    color: $color-l;
                }
            }
        }
    }
}
nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 3rem;
    background-color: rgba($color: $color-d, $alpha: 0.85);
    transform: translateX(100%);
    opacity: 0;
    height: 100%;
    transition: all 0.3s;
    z-index: 7;
    &.show {
        transform: translateX(0%);
        opacity: 1;
    }
    .btn-close {
        cursor: pointer;
        .fa-times {
            padding-left: 1rem;
            font-size: 1.5rem;
            color: $color-l;
        }
    }
    ul {
        list-style: none;
        padding: 1rem 3rem;
        li {
            margin: 1rem 0;
            a {
                cursor: pointer;
                text-decoration: none;
                color: $color-l;
            }
        }
    }
}
main {
    position: relative;
    height: 100vh;
    background: url(https://media.architecturaldigest.com/photos/5c06ee552226412d33ca781c/16:9/w_2560%2Cc_limit/Joseph%252520Dirand%252520DSC_6808_GIRAFE_CREDIT%252520ADRIEN%252520DIRAND.jpg);
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        bottom: 0; right: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
        z-index: 5;
    }
}