@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pattaya&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #505050;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1d1d1d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 5px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: whitesmoke;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

header {
  position: relative;
  z-index: 6;
  padding: 1.5rem 0;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 996px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .wraper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}

.main-btn {
  text-align: center;
}

.main-btn p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin: 0.5rem 0;
  padding: 0.2rem 0;
  border-radius: 3px;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

.main-btn p a {
  text-decoration: none;
  color: #fff;
  font-size: calc( 0.00268 * 100vw + 11.14286px);
}

.main-btn p:hover {
  background-color: #999;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand a {
  text-decoration: none;
  color: #fff;
}

.brand a h1 {
  text-align: center;
  font-family: "Pattaya", sans-serif;
  font-size: calc( 0.0125 * 100vw + 14px);
}

.contact {
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact p a {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
  font-size: calc( 0.00268 * 100vw + 11.14286px);
  margin-right: 1rem;
}

.contact .nav-btn {
  cursor: pointer;
}

.contact .nav-btn .fa-bars {
  font-size: 2.3rem;
  color: #fff;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 1rem 3rem;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  height: 90%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 7;
}

nav.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

nav .btn-close {
  cursor: pointer;
}

nav .btn-close .fa-times {
  padding-left: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

nav ul {
  list-style: none;
  padding: 1rem 3rem;
}

nav ul li {
  margin: 1rem 0;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

main {
  position: relative;
  height: 80vh;
  background: url(https://media.architecturaldigest.com/photos/5c06ee552226412d33ca781c/16:9/w_2560%2Cc_limit/Joseph%252520Dirand%252520DSC_6808_GIRAFE_CREDIT%252520ADRIEN%252520DIRAND.jpg);
  background-size: cover;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
  z-index: 5;
}

.overlay {
  display: none;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.overlay.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #c9c9c9;
  min-width: 600px;
  max-height: 400px;
  padding: 30px;
  position: relative;
  -webkit-box-shadow: 0 0 25px #000;
          box-shadow: 0 0 25px #000;
  border-radius: 5px;
}

.modal .modalclose .fa-times {
  padding: 1rem;
  font-size: 22px;
}

.modal .mod-content {
  padding: 1rem;
  max-width: 800px;
}

.modal .mod-content hr {
  margin: 1rem 0;
}

.offers {
  width: 100%;
  position: relative;
  padding: 1.5rem 0;
}

.offers .card-ofr {
  width: 350px;
  height: 270px;
  position: relative;
  border: 1px double #000;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .offers .card-ofr {
    width: 100%;
    height: 100px;
    margin: 0;
  }
}

.offers .card-ofr a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers .card-ofr a:hover > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.offers .card-ofr a h3 {
  font-family: "Pattaya", sans-serif;
  font-weight: 200;
  color: #fff;
  z-index: 5 !important;
  font-size: calc( 0.0125 * 100vw + 14px);
  text-transform: uppercase;
  margin: 0 auto;
}

.offers .card-ofr a img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .offers .card-ofr a img {
    width: 100%;
    height: auto;
  }
}

.offers .card-ofr a::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.Reviews {
  width: 100%;
  height: auto;
  position: relative;
  padding: 1.5rem 0;
}

.Reviews .rew-card {
  position: relative;
  display: 0 0 33.333%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 28rem;
  margin: 0 1rem;
}

.Reviews .rew-card .rew-card-body {
  position: relative;
  padding: 1rem;
  border-radius: 3px;
  background: #ccc;
  z-index: 2;
}

.Reviews .rew-card .rew-card-body p {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: calc( 0.00268 * 100vw + 11.14286px);
  line-height: 1.5rem;
  font-weight: 400;
}

.News {
  width: 100%;
  height: auto;
  position: relative;
  padding: 1.5rem 0;
}

.News h2 {
  margin: 0 1rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 500;
  font-size: calc( 0.0125 * 100vw + 14px);
  color: #000;
}

.News .news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0.5rem;
}

.News .news-block .news-card {
  max-width: 20rem;
  margin: 1rem 0.5rem !important;
  border-radius: 3px;
  overflow: hidden;
  background-color: #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .News .news-block .news-card {
    margin: 0;
  }
}

.News .news-block .news-card a {
  text-decoration: none;
  color: #000;
}

.News .news-block .news-card a .img-n {
  overflow: hidden;
}

.News .news-block .news-card a .img-n img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.News .news-block .news-card a:hover > .img-n img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.News .news-block .news-card a .news-card-body {
  padding: 1rem;
}

.News .news-block .news-card a .news-card-body h3 {
  font-family: "Pattaya", sans-serif;
  line-height: 1.8rem;
  font-size: calc( 0.0125 * 100vw + 14px);
  padding-bottom: 0.5rem;
}

.News .news-block .news-card a .news-card-body p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  font-size: calc( 0.00268 * 100vw + 11.14286px);
}

.News .news-block .news-card:hover {
  background-color: #fff;
}

footer {
  background-color: #444;
  color: #fff;
  position: relative;
  width: 100%;
  padding: 1.5rem 0;
}

footer .wrap-f {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */