* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 6;
  padding: 1.5rem 0;
  margin: 0 auto;
  width: 100%;
}

header .wrap-h {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  max-width: 1200px;
}

header .wrap-h .main-btn {
  text-align: center;
}

header .wrap-h .main-btn p {
  margin: 0.5rem 0;
  padding: 0.2rem 0;
  border-radius: 3px;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

header .wrap-h .main-btn p a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

header .wrap-h .main-btn p:hover {
  background-color: #999;
}

header .wrap-h .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrap-h .brand a {
  text-decoration: none;
  color: #fff;
}

header .wrap-h .brand a h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 32px;
}

header .wrap-h .contact {
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrap-h .contact p a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

header .wrap-h .contact .nav-btn {
  cursor: pointer;
}

header .wrap-h .contact .nav-btn .fa-bars {
  font-size: 2.3rem;
  color: #fff;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 1rem 3rem;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 7;
}

nav.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

nav .btn-close {
  cursor: pointer;
}

nav .btn-close .fa-times {
  padding-left: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

nav ul {
  list-style: none;
  padding: 1rem 3rem;
}

nav ul li {
  margin: 1rem 0;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

main {
  position: relative;
  height: 100vh;
  background: url(https://media.architecturaldigest.com/photos/5c06ee552226412d33ca781c/16:9/w_2560%2Cc_limit/Joseph%252520Dirand%252520DSC_6808_GIRAFE_CREDIT%252520ADRIEN%252520DIRAND.jpg);
  background-size: cover;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
  z-index: 5;
}
/*# sourceMappingURL=style.css.map */